.top {
    background: #000000;
    border-style: solid;
}
.wrap {
    width: 100%;
    overflow: auto;
    padding: 2px;
}

.fleft {
    float: left;
    width: 25%;
    background: #FFFFFF;
}

.fcenter{
    float: left;
    width: 50%;
    background: #FFFFFF;
}

.fright {
    float: right;
    background:#FFFFFF;
    width: 25%;
}

[class="0"].curr{
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

.\1.curr {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

.2.curr {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

.3.curr {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}


.4.curr {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

[class="0"]{
    background: rgb(191, 215, 234);
}

.1 {
    background: rgb(219, 234, 191);
}

.2 {
    background: rgb(219, 234, 191);
}

.3 {
    background: rgb(219, 234, 191);
}

.4 {
    background: rgb(219, 234, 191);
}
