.top {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  border-style: solid;
  border-color: #FFFFFF;
}
.wrap {
  width: 100%;
  overflow: auto;
  padding-top: 30px;
}
#fleft {
  position: fixed;
  top: 30px;
  width: 25%;
  background: #FFFFFF;
}
text-view {
  position: absolute;
  top: 30px;
  left: 26%;
  width: 48%;
  margin-left: 5px;
  margin-right: 5px;
  background: #FFFFFF;
  z-index: -1;
}
#fright {
  position: fixed;
  top: 30px;
  left: 75%;
  background: #FFFFFF;
  width: 25%;
}
.border {
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
.level-0 {
  background: #bfd7ea;
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
.level-1 {
  background: #bfd7ea;
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
.level-2 {
  background: #bfd7ea;
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
.level-3 {
  background: #bfd7ea;
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
.level-4 {
  background: #bfd7ea;
  border-style: hidden;
  border-width: 3px;
  border-color: red;
}
