<!doctype html>

<html> <head>
    <meta charset="utf-8">
    <title>jp_lwt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reader.css')}}">

  </head>
  <body>
    <script src="{{url_for('static', filename='vue.js')}}"></script>
    <script src="{{url_for('static', filename='mousetrap.min.js')}}"></script>
    <div class="top">
      abc / def / geh / hij
    </div>
    <div class="wrap">
      <definitions id="fleft">
        {{definition}}
      </definitions>

      <text-view id = "reader">
        {% for token in tokenized_text -%}
        {% if token in words -%}
        <span class = "level-{{words[token]}}">{{token}}</span>
        {%- else %}
        {{token}}
        {% endif %}
        {%- endfor %}
      </text-view>

      <definitions id = "fright">
        {{definition}}
      </definitions>

    </div>
  <script src="{{url_for ('static', filename='reader.js')}}"></script>
  <script src="{{url_for ('static', filename='definitions.js')}}"></script>
  <script>on_page_loaded();</script>
  </body>
</html>
